*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    
    align-items: center;
    
    align-content: center;
}

.div1{
    width: 150px;
    height: 150px;
    background-color: aqua;
}